<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <!--应用名称-->
    <dubbo:application name="${dubbo.name}"/>

    <!-- dubbo注册地址 -->
    <dubbo:registry address="${dubbo.registry.address}"/>

    <!-- dubbo注册端口 -->
    <dubbo:protocol name="dubbo" host="42.196.155.120" port="${dubbo.protocol.port}"/>

    <!-- 监听注册 -->
    <dubbo:monitor protocol="registry"/>

    <!-- dubbo对外开放接口 -->
    <dubbo:service interface="com.kangyonggan.server.service.ArticleService"
                   ref="articleService" version="${dubbo.api.version}" retries="0" timeout="${dubbo.timeout}"/>

    <dubbo:service interface="com.kangyonggan.server.service.CategoryService"
                   ref="categoryService" version="${dubbo.api.version}" retries="0" timeout="${dubbo.timeout}"/>

</beans>